<footer class="footer mt-auto py-3 bg-dark border-top">
    <div class="container text-center">
        <div class="d-flex flex-row justify-content-center align-items-center lh-1 pt-1 pb-3">
            <span class="text-body-secondary pe-3 border-end me-3">&copy; 2023 - GameSphere</span>
            <a asp-action="Privacy" class="nav-link">Privacy</a>
        </div>

        <audio controls loop autoplay>
            <!-- https://lifeformed.bandcamp.com/track/the-magnetic-tree https://creativecommons.org/licenses/by-nc-sa/3.0/ -->
            <source src="~/assets/music.webm" type="audio/webm">
        </audio>
    </div>
</footer>
