<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameSphere</title>
    <link rel="shortcut icon" type="image/x-icon" vite-href="~/favicon.ico" />
    <script vite-src="~/theme_switcher.ts"></script>
    <link rel="stylesheet" vite-href="~/main.ts" asp-append-version="true" />
</head>
