<!DOCTYPE html>
<html lang="en" class="h-100">

<partial name="_Head" />

<body data-bs-theme="dark" class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-md sticky-top border-bottom bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand fs-5" asp-controller="Home" asp-action="Index">
                    <!--Credit for this image goes to Samuel Lee, source https://samuellee.itch.io/cave-explorer-animated-pixel-art-->
                    <img src="~/assets/idlecaveexplorer.gif" width="48" height="32" />
                    GameSphere
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbar-collapse" class="collapse navbar-collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Camp">Camp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Bounty" asp-action="List">Bounties</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Weapon" asp-action="WeaponList">Weapon Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0 mb-4">
        @RenderBody()
    </main>

    <partial name="_Footer" />

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
