@model ErrorViewModel
@{
    ViewData["Title"] = (Model.ErrorCode is not null) ? $"Error {Model.ErrorCode}" : "Oh no!";
}

<div class="container my-4 text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div>
        <h2 class="text-danger mb-2">An error occurred while processing your request.</h2>
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> @Model.RequestId
            </p>
        }
    </div>
</div>
