@model Weapon
@{
    ViewData["Title"] = "Request a New Weapon";
}

<div class="container my-4 text-center rounded-4 px-4 py-3 bg-body-secondary border">
    <h2>@ViewData["Title"]</h2>

    <hr />

    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

    <form asp-action="WeaponAdd" method="post">
        <div class="form-floating mb-3">
            <input asp-for="Cost" class="form-control" placeholder="Enter the weapon cost">
            <label asp-for="Cost">Cost</label>
            <span asp-validation-for="Cost" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" placeholder="Enter the weapon name">
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Damage" class="form-control" placeholder="Enter the weapon damage">
            <label asp-for="Damage">Damage</label>
            <span asp-validation-for="Damage" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Weight" class="form-control" placeholder="Enter the weapon weight">
            <label asp-for="Weight">Weight</label>
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>

        <hr />

        <div class="d-flex gap-2 mb-3">
            <button type="submit" class="btn btn-success col">Request</button>
            <a role="button" asp-action="WeaponList" class="btn btn-danger col">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
