#custom-nav {
  --bs-nav-link-color: var(--bs-secondary-color);
  --bs-nav-link-hover-color: var(--bs-secondary-color-rgb);

  .dropdown-menu {
    --bs-dropdown-padding-x: 0.5rem;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-link-hover-bg: #{rgba($primary, 0.2)};
    --bs-dropdown-link-hover-border: #{rgba($primary, 0.4)};
    --bs-dropdown-link-active-bg: #{rgba($primary, 0.85)};
    --bs-dropdown-link-active-border: #{$primary};

    border-radius: 0.625rem;
    box-shadow: $dropdown-box-shadow;

    li + li {
      margin-top: 0.25rem;
    }

    .dropdown-item {
      border-radius: 0.375rem;

      .active {
        font-weight: 600;
      }
    }
  }
}

.btn-icon {
  fill: currentcolor;
  width: 16px;
  height: 16px;
}

.menu-icon {
  fill: currentcolor;
  width: 16px;
  height: 16px;
  opacity: 0.75;
}
