.modal {
  --bs-modal-border-radius: 0.75rem;
}

.modal-title {
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 1.1;
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0;

  > .btn-modal {
    --bs-btn-font-weight: 600;
    --bs-btn-padding-y: 0.625rem;
    --bs-btn-bg: #{rgba(var(--bs-body-color-rgb), 0.03)};
    --bs-btn-hover-bg: #{rgba(var(--bs-body-color-rgb), 0.07)};
    --bs-btn-active-bg: #{rgba(var(--bs-body-color-rgb), 0.13)};
    --bs-btn-border-color: var(--bs-border-color);
    --bs-btn-hover-border-color: var(--bs-border-color);
    --bs-btn-active-border-color: var(--bs-border-color);
    --bs-btn-focus-shadow-rgb: #{to-rgb($primary)};

    flex-basis: 100%;
    margin: 0;
    border-width: 0;
    border-style: solid;
    border-radius: 0;

    + .btn-modal {
      border-left-width: 1px;
    }

    &:first-child {
      border-bottom-left-radius: calc(0.75rem - 1px);
    }

    &:last-child {
      border-bottom-right-radius: calc(0.75rem - 1px);
    }

    &.danger {
      --bs-btn-color: #{$danger};
      --bs-btn-hover-color: #{$danger};
      --bs-btn-active-color: #{$danger};
      --bs-btn-bg: #{rgba($danger, 0.13)};
      --bs-btn-hover-bg: #{rgba($danger, 0.16)};
      --bs-btn-active-bg: #{rgba($danger, 0.2)};
      --bs-btn-focus-shadow-rgb: #{to-rgb($danger)};
    }
  }
}
