$border-radius: 0.5rem;
$border-radius-lg: 0.525rem;
$primary: #397cdf;
$secondary: #6d6970;
$danger: #d53d49;
$info: #5d9df0;
$border-color: rgba(#000, 0.16);
$border-color-translucent: rgba(#000, 0.16);
$border-color-dark: rgba(#fff, 0.16);
$border-color-translucent-dark: rgba(#fff, 0.16);
