@model Bounty
@{
    ViewData["Title"] = "Add a New Bounty";
}

<div class="container my-4 text-center rounded-4 px-4 py-3 bg-body-secondary border">
    <h2 class="page-header">@ViewData["Title"]</h2>

    <hr />

    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

    <form asp-action="Add" method="post">
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" placeholder="Enter a name">
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Description" class="form-control" placeholder="Enter a description">
            <label asp-for="Description">Description</label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Reward" class="form-control" placeholder="Enter a reward">
            <label asp-for="Reward">Reward</label>
            <span asp-validation-for="Reward" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusType>()"></select>
            <label asp-for="Status">Status</label>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <select asp-for="Difficulty" class="form-control" asp-items="Html.GetEnumSelectList<DifficultyType>()"></select>
            <label asp-for="Difficulty">Difficulty</label>
            <span asp-validation-for="Difficulty" class="text-danger"></span>
        </div>

        <hr />

        <div class="d-flex mb-3 gap-2">
            <button type="submit" class="btn btn-success col">Add</button>
            <a role="button" asp-action="List" class="btn btn-danger col">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
