<div class="container my-4">

    <!--Section for group member info-->
    <div class="rounded-4 mb-4 bg-body-secondary border text-center px-4 py-3">
        <h1 class="display-4">Our Team</h1>
        <hr />
        <h5>Our group name is GameSphere! For this final project, we wanted to base it on a hobby that we all had in common... VIDEO GAMES!</h5>
    </div>

    <!--Mikes Section-->
    <section class="rounded-4 mb-4 bg-body-secondary border text-center px-4 py-3 mx-4">
        <h2 class="display-6">Mike Byrd</h2>
        <hr />
        <h5>Major: Information Technology</h5>
        <h5>Track: Software Development</h5>
        <h5>Year: 4th Year</h5>
        <h5>Favorite video game: Diablo II</h5>
    </section>

    <!--Logans Section-->
    <section class="rounded-4 mb-4 bg-body-secondary border text-center px-4 py-3 mx-4">
        <h2 class="display-6">Logan Conley</h2>
        <hr />
        <h5>Major: Information Technology</h5>
        <h5>Track: Software Development</h5>
        <h5>Year: 4th Year</h5>
        <h5>Favorite video game: Bloodborne</h5>
    </section>

    <!--Conrads Section-->
    <section class="rounded-4 mb-4 bg-body-secondary border text-center px-4 py-3 mx-4">
        <h2 class="display-6">Conrad Hale</h2>
        <hr />
        <h5>Major: Information Technology</h5>
        <h5>Track: Software Development</h5>
        <h5>Year: 3rd Year</h5>
        <h5>Favorite video game: Resident Evil 7</h5>
    </section>

    <!--Braydens Section-->
    <section class="rounded-4 mb-4 bg-body-secondary border text-center px-4 py-3 mx-4">
        <h2 class="display-6">Brayden Cummins</h2>
        <hr />
        <h5>Major: Information Technology</h5>
        <h5>Track: Data Technology and Software Development</h5>
        <h5>Year: 4th Year</h5>
        <h5>Favorite video game: Rust</h5>
    </section>

</div>