@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <!--WHERE DOES THIS GO-->
</head>


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GameSphere</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Camp">Camp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Bounty" asp-action="List">Bounties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Weapon" asp-action="WeaponList">Weapon Shop</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>



<div>
    <!--Credit for this image goes to Samuel Lee, source https://samuellee.itch.io/cave-explorer-animated-pixel-art-->
    <img src="~/images/idlecaveexplorer.gif" id="idleCaveExplorer" style="position:absolute; top: 450px"/>
</div>

<div class="container" style="display: block; justify-content: center; background-color: slategray; margin-bottom: 5px;">

    <h1>Base Camp</h1>
    <hr />

    <div class="d-grid gap-2 d-md-block mx-auto">
        <a asp-controller="Bounty" asp-action="List"><b class="btn btn-dark" style="margin: 20px;">Link to Mike's Contribution</b></a>

        <a asp-controller="Weapon" asp-action="WeaponList"><b class="btn btn-dark" style="margin: 20px;">Link to Logan's Contribution</b></a>

        <a asp-controller="" asp-action=""><b class="btn btn-dark" style="margin: 20px;">Link to Conrad's Contribution</b></a>

        <a asp-controller="" asp-action=""><b class="btn btn-dark" style="margin: 20px;">Link to Brayden's Contribution</b></a>
    </div>

    <hr />
</div>

<div class="container" style="display: block; justify-content: center; background-color: slategray; margin-bottom: 5px;">
    <h3>Town Map</h3>
    <hr />
    <h5>Browse our Camp by clicking certain areas in the town photo below</h5>
</div>

<div>
    <!--This image is from Hearthstone by Blizzard and was sourced from https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.ign.com%2Fvideos%2Fhearthstone-mercenaries-game-mode-gameplay-overview&psig=AOvVaw2jXDYJYPcPEn4ZFSSR6XwR&ust=1699542374855000&source=images&cd=vfe&opi=89978449&ved=0CBQQjhxqFwoTCKj1zbThtIIDFQAAAAAdAAAAABAE-->
    <img src="~/images/mercenaryCamp.png" class="aliceInFrames" usemap="#campmap"/>

    <map name="campmap">
        <area shape="rect" coords="536,306,689,403" href="../Bounty/List" />
    </map>
</div>

<div class="spacer"></div>

<div style="max-width: auto">
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1412741485&color=%23ff5500&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-678175888" title="InfraredNotTaco" target="_blank" style="color: #cccccc; text-decoration: none;">InfraredNotTaco</a> · <a href="https://soundcloud.com/user-678175888/permanently-shut-down" title="Permanently Shut Down" target="_blank" style="color: #cccccc; text-decoration: none;">Permanently Shut Down</a></div>
</div>
