﻿@{
    ViewData["Title"] = "Base Camp";
}

<div class="container my-4">
    <div class="rounded-4 mb-4 bg-body-secondary border text-center px-4 py-3">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <div class="gap-2 p-2 d-flex flex-column flex-md-row justify-content-center">
            <a asp-controller="Bounty" class="btn btn-dark fw-semibold" asp-action="List">Link to Mike's Contribution</a>

            <a asp-controller="Weapon" class="btn btn-dark fw-semibold" asp-action="WeaponList">Link to Logan's Contribution</a>

            <a asp-controller="" class="btn btn-dark fw-semibold" asp-action="">Link to Conrad's Contribution</a>

            <a asp-controller="Home" class="btn btn-dark fw-semibold" asp-action="AboutUs">Link to Brayden's Contribution</a>
        </div>
    </div>

    <div class="rounded-4 mb-4 bg-body-secondary border text-center px-4 py-3">
        <h3>Town Map</h3>
        <hr />
        <h5>Browse our Camp by clicking certain areas in the town photo below</h5>
    </div>

    <div class="position-relative">
        <!--Credit for this image goes to Samuel Lee, source https://samuellee.itch.io/cave-explorer-animated-pixel-art-->
        <img src="~/assets/idlecaveexplorer.gif" id="idleCaveExplorer" aria-hidden="true" class="position-absolute" style="top: 250px; left: -40px" />

        <!--This image is from Hearthstone by Blizzard and was sourced from https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.ign.com%2Fvideos%2Fhearthstone-mercenaries-game-mode-gameplay-overview&psig=AOvVaw2jXDYJYPcPEn4ZFSSR6XwR&ust=1699542374855000&source=images&cd=vfe&opi=89978449&ved=0CBQQjhxqFwoTCKj1zbThtIIDFQAAAAAdAAAAABAE-->
        <img src="~/assets/mercenaryCamp.png" alt="Town Map" class="my-2 border border-3 border-info" usemap="#campmap" />

        <map name="campmap">
            <area alt="Bounties" shape="rect" coords="536,306,689,403" href="@Url.Action("List", "Bounty")" />
            <area alt="Weapon Shop" shape="rect" coords="978,335,1205,529" href="@Url.Action("WeaponList", "Weapon")" />
            <area alt="About Us" shape="rect" coords="849,61,1146,254" href="@Url.Action("AboutUs", "Home")" />
        </map>
    </div>
</div>