@{
    ViewData["Title"] = "Base Camp";
}

<div class="container my-4 text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <hr />

    <div class="flex g-4 p-2">
        <a asp-controller="Bounty" asp-action="List" class="btn btn-secondary fw-semibold">
            Link to Mike's Contribution
        </a>

        <a asp-controller="" asp-action="" class="btn btn-secondary fw-semibold">
            Link to Logan's Contribution
        </a>

        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary fw-semibold">
            Link to Conrad's Contribution
        </a>

        <a asp-controller="" asp-action="" class="btn btn-secondary fw-semibold">
            Link to Brayden's Contribution
        </a>
    </div>

    <hr />

    <div class="mt-4 text-center">
        <h3>Town Map</h3>
        <hr />

        <h5 class="mb-3">Browse our Camp by clicking certain areas in the town photo below</h5>

        <!--This image is from Hearthstone by Blizzard and was sourced from https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.ign.com%2Fvideos%2Fhearthstone-mercenaries-game-mode-gameplay-overview&psig=AOvVaw2jXDYJYPcPEn4ZFSSR6XwR&ust=1699542374855000&source=images&cd=vfe&opi=89978449&ved=0CBQQjhxqFwoTCKj1zbThtIIDFQAAAAAdAAAAABAE-->
        <img src="~/mercenaryCamp.png" class="alice-in-frames" usemap="#camp-map" />

        <map name="camp-map">
            <area alt="Bounties" shape="rect" coords="536,306,689,403" href="../Bounty/List" />
        </map>
    </div>
</div>
