@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="h-100">

<partial name="_Head" />

<body class="d-flex flex-column h-100 bg-body-tertiary">
    <a asp-controller="Home" asp-action="Camp" class="visually-hidden">Skip Game</a>
    <header>
        <div class="container">
            <audio controls loop autoplay>
                <!-- https://lifeformed.bandcamp.com/track/the-magnetic-tree https://creativecommons.org/licenses/by-nc-sa/3.0/ -->
                <source src="~/music.webm" type="audio/webm">
            </audio>
        </div>
    </header>

    <main class="flex-shrink-0">
        <div class="container mb-3">
            <div class="container center d-none mb-3" id="gandalf">
                <video controls="controls" style="max-width: inherit">
                    <source src="~/gandalf.mp4" type="video/mp4">
                    <a href="~/gandalf.mp4">Gandalf's answer to no</a> (.MP4)
                </video>
            </div>

            <div class="mb-3">
                <!--Credit for this image goes to Samuel Lee, source https://samuellee.itch.io/cave-explorer-animated-pixel-art-->
                <img src="~/walkingcaveexplorer.gif" id="walkingCaveExplorer" class="d-none" />
                <img src="~/idlecaveexplorer.gif" id="idleCaveExplorer" />
            </div>

            <div class="bg-body p-3 border rounded-1 mb-3" id="welcome-text"></div>

            <div id="yes-or-no" class="d-none mb-3 btn-group w-100" role="group">
                <button type="button" data-value="y" class="btn btn-flat success">Yes</button>
                <button type="button" data-value="n" class="btn btn-flat danger">No</button>
            </div>

            <a role="button" asp-controller="Home" asp-action="Camp" class="btn btn-flat success d-none mb-3 w-100"
                id="enter-btn">Enter</a>
        </div>
    </main>

    <partial name="_Footer" />
    <script type="module" vite-src="~/main.ts"></script>
    <script type="module" vite-src="~/game.ts"></script>
</body>

</html>
