@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/images/idlecaveexplorer.gif" />
</div>

<div class="text-light bg-dark">
	
    <div id="welcome-text" class="dialogBox"></div>

</div>

