@{
    ViewData["Title"] = "Home Page";
}

<div>
    <!--Credit for this image goes to Samuel Lee, source https://samuellee.itch.io/cave-explorer-animated-pixel-art-->
    <img src="~/images/idlecaveexplorer.gif" />
</div>

<div class="text-light bg-dark">
	
    <div id="welcome-text" class="dialogBox"></div>

</div>

<div>
    <button class="btn-success align-content-center" style="display:none" id="q1yes">Yes</button>
    <button class="btn-danger align-content-center" style="display:none" id="q1no">No</button>
</div>

<div class="text-light bg-dark">

    <div id="welcome-text2" class="dialogBox"></div>

</div>
