@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en" class="h-100">

<partial name="_Head" />

<body data-bs-theme="dark" class="d-flex flex-column h-100">
    <a asp-controller="Home" asp-action="Camp" accesskey="s" class="visually-hidden">Skip Game</a>

    <main class="flex-shrink-0">
        <div class="container mb-3">
            <div class="container center d-none mb-3" id="gandalf">
                <video controls="controls" style="max-width: inherit">
                    <source src="~/assets/gandalf.mp4" type="video/mp4">
                    <a href="~/assets/gandalf.mp4">Gandalf's answer to no</a> (.MP4)
                </video>
            </div>

            <div class="mb-3">
                <!--Credit for this image goes to Samuel Lee, source https://samuellee.itch.io/cave-explorer-animated-pixel-art-->
                <img src="~/assets/walkingcaveexplorer.gif" id="walkingCaveExplorer" class="d-none" />
                <img src="~/assets/idlecaveexplorer.gif" id="idleCaveExplorer" />
            </div>

            <div class="text-light bg-dark p-3 border rounded-1 mb-3" id="welcome-text"></div>

            <div id="yes-or-no" class="d-none flex-row gap-2 mx-auto" role="group">
                <button type="button" data-value="y" class="btn btn-success rounded-1 col">Yes</button>
                <button type="button" data-value="n" class="btn btn-danger rounded-1 col">No</button>
            </div>

            <a role="button" asp-controller="Home" asp-action="Camp" class="btn btn-success rounded-1 d-none mb-3 w-100"
               id="enter-btn">Enter</a>
        </div>
    </main>

    <partial name="_Footer" />

    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/game.js"></script>
</body>

</html>
