@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container my-4 rounded-4 mb-4 bg-body-secondary border text-center px-4 py-3">
    <h2>@ViewData["Title"]</h2>
    <p>We don't collect or sell your data!</p>
</div>