@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container my-4 text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <hr />
    <p>Use this page to detail your site's privacy policy.</p>
</div>
