body {
    background-image: url('../assets/PressStart.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.aboutHeader {
    display: block;
    border-radius: 30px;
    justify-content: center;
    background-color: slategray;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.aboutSection {
    display: block;
    border-radius: 30px;
    justify-content: center;
    background-color: slategray;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.aboutHeadText {
    text-align: center
}

.aboutText {
    text-align: center
}

.customHr {
    margin-top: 3px;
    margin-bottom: 3px;
}